<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="employee.Properties.Settings.connectiondata" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dilow.mdb;Persist Security Info=True;Jet OLEDB:Database Password=1980"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>